<h4>Regiones</h4>
<mat-form-field>
  <mat-label>Selecciones region</mat-label>
  <mat-select (selectionChange)="regionChange($event.value)">
    <mat-option *ngFor="let region of regions" [value]="region">
      {{region}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- nombre comuna -->
  <ng-container matColumnDef="commune">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Comuna </th>
    <td mat-cell *matCellDef="let element"> {{element.comuna_nombre}} </td>
  </ng-container>

  <!-- nombre local -->
  <ng-container matColumnDef="store">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Local </th>
    <td mat-cell *matCellDef="let element"> {{element.local_nombre}} </td>
  </ng-container>

  <!-- direccion -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Direcci&oacute;n </th>
    <td mat-cell *matCellDef="let element"> {{element.local_direccion}} </td>
  </ng-container>

  <!-- telefono -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tel&eacute;fono </th>
    <td mat-cell *matCellDef="let element"> {{element.local_telefono}} </td>
  </ng-container>

  <!-- latitud -->
  <ng-container matColumnDef="lat">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitud </th>
    <td mat-cell *matCellDef="let element"> {{element.local_lat}} </td>
  </ng-container>

  <!-- longitud -->
  <ng-container matColumnDef="long">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitud </th>
    <td mat-cell *matCellDef="let element"> {{element.local_lng}} </td>
  </ng-container>

  <!-- lat-lng -->
  <ng-container matColumnDef="latlng">
      <th mat-header-cell *matHeaderCellDef> Acci&oacute;n </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="showMap(element.local_lat, element.local_lng)" >Ver mapa</button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
