<h1 mat-dialog-title>Ubicaci&oacute;n de farmacia</h1>
<div mat-dialog-content>
    <agm-map [zoom]="15" [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>

<button mat-stroked-button mat-dialog-close color="primary">Cerrar</button>

